<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="bepinex" value="https://nuget.bepinex.dev/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="bepinex">
      <package pattern="BepInEx.*" />
      <package pattern="UnityEngine.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="HarmonyX" />
      <package pattern="Mono.Cecil" />
      <package pattern="MonoMod.*" />
      <package pattern="NETStandard.Library.Ref" />
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
